.header{
  margin-bottom: 1.335rem;
  font-size: 3rem;
  font-family: $header-font;
  line-height: 1.1;
  text-align: center;
  font-weight: 400;
}
.text{
  margin: 0;
  padding: 0.251rem 0 0.215rem;
  font-size: 1rem;
  letter-spacing: -0.1px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}
.button {
  background-color: $background-color;
  padding: 0.75rem 2rem;
  border: 1px solid $main-color;
  text-align: center;
  box-sizing: border-box;
  .button__text {
    color: $main-color;
    position: relative;
    font-size: 1rem;
    font-family: $header-font;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 1.5;
  }
    .button__icon {
      background: url('../images/arrow.svg') no-repeat center;
      background-size: cover;
      width: 8.05px;
      height: 12px;
      margin-left: 0.625rem;
      display: inline-block;
    }
}
.header--third{
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.215em  0 0.215em;
  margin: 0 0 0.625em;
}

.news__image{
  aspect-ratio: 101 / 57;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.news__text{
  box-sizing: border-box;
  padding: 1rem;
}
.article__header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header--third{
  text-align: left;
}
.article__text{
  text-align: left;
  padding-bottom: 0;
}
