main{
  max-width: 1200px;
  width: 100%;
  padding: 0 0.9375rem;
  margin: 1.875rem auto;
  box-sizing: border-box;
}

.main__boxes{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas:
            "box1 box1"
            "box2 box2"
            "box3 box3"
            "box4 box4"
            "box5 box5"
            "box6 box6"
            "box7 box7";
  @include tablet {
    grid-template-areas:
            "box1 box1"
            "box2 box7"
            "box4 box5"
            "box3 box6";
  }
  @include desktop{
    grid-template-columns: 24% 24% 18% 17% 17%;
    grid-template-areas:
            "box1 box1 box1  box2 box2"
            "box4 box5 box7 box7 box7"
            "box3 box6 box7 box7 box7";
  }
}
.main__box{
  overflow: hidden;
  //width: 100%;
  margin-bottom: 0.25rem;
  height: 210px;
  margin-right: 4px;
  @include tablet{
    height: 240px;
  }
}
.main__box-1 {
  @include tablet {
    height: 360px;
  }
  @include desktop{
    height: 400px;
  }
}
.main__box-1{
  grid-area: box1;

}
.main__box-2{
  grid-area: box2;
  @include desktop{
    height: 400px;
  }
}
.main__box-3{
  grid-area: box3;
  @include desktop{
    height: 197.5px;
  }
}
.main__box-4{
  grid-area: box4;
  @include desktop{
    height: 197.5px;
  }
}
.main__box-5{
  grid-area: box5;
  @include desktop{
    height: 197.5px;
  }
}
.main__box-6{
  grid-area: box6;
  @include desktop{
    height: 197.5px;
  }
}
.main__box-7{
  grid-area: box7;
  @include desktop{
    height: 400px;
  }
}

.main__box-1,
.main__box-2,
.main__box-6,
.main__box-7{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, transparent 65%);
  }
}
.main__box-3, .main__box-4, .main__box-5{
  background: $background-box-color;
}
.main__box-1{
  background: url('../images/main1.avif') no-repeat top;
  background-size: cover;
}
.main__box-2{
  background-image: url('../images/main2.avif');
  background-repeat: no-repeat;
  background-position: 27% 50%;
  background-size: cover;
}
.main__box-6{
  background-image: url('../images/main3.avif');
  background-repeat: no-repeat;
  background-position: 27% 50%;
  background-size: cover;
}
.main__box-7{
   background-image: url('../images/main4.avif');
   background-repeat: no-repeat;
   background-position: 50% 100%;
   background-size: cover;
}
.main__box--header{
  color: $main-color;
  font-size: 0.75rem;
  font-family: $header-font;
  padding-top: 0.251em;
  padding-bottom: 0.215em;
  margin: 0 0 0.625em;
}
.main__box--header5{
    color: $background-color;
  }

.box-text{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.875rem 1.25rem;
  position: relative;
  color: $background-color;
}
.box-text--title{
  padding-right: 15px;
  position: absolute;
  bottom: 0;
  margin: 0 0 1.5rem;
}
.box-text--title2,
.box-text--title3,
.box-text--title4{
  color: $main-color;
  margin: 0 0 15px;
}
.main__box--title{
  font-size: 1.5rem;
  padding-top: 0.28667em;
  padding-bottom: 1px;
  line-height: 1.5;
  margin: 0;

}
.main__box--date0,
.main__box--date1,
.main__box--date4,
.main__box--date6{
  display: none;
}
.main__box--date{
  margin: 0;
}
.share{
  color: $main-color;
  .share--price{
    padding: 3px 0;
    border-bottom: 1px solid $news-date-color;
    .share--text--price{
      display: inline;
      margin: 0;
    }
    .share--text--number{
      display: inline;
      margin: 0;
      font-family: $header-font;
      font-size: 1.5rem;
      letter-spacing: -0.19px;
      font-weight: bold;
    }
    .share--text--currency{
      display: inline;
      margin: 0;
      font-family: $header-font;
    }
  }
  .share--sse, .share--nasdaq{
    margin: 0;
    padding: 3px 0;
    border-bottom: 1px solid $news-date-color;
  }
  .share--datetime{
    padding: 3px 0;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.875rem;
    .share--date{
      margin: 0;
      position: relative;
      padding-left: 18px;
      &:before{
        content:'';
        top:10%;
        left: 0;
        background-color: $main-color;
        mask: url("../images/calendar.svg") no-repeat center;
        width: 14px;
        height: 14px;
        position: absolute;
      }
    }
    .share--time{
      margin: 0;
      position: relative;
      &:before{
        content:'';
        top:15%;
        left: -18px;
        background-color: $main-color;
        mask: url("../images/clock.svg") no-repeat center;
        width: 14px;
        height: 14px;
        position: absolute;
      }
    }
  }
}
.share0,
.share1,
.share2,
.share3,
.share5,
.share6{
  display: none;
}